<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.scujcc.workthreeweek">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test.MainActivity3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".test.MainActivity" />
        <activity
            android:name=".LitePalActivity"
            android:label="@string/LitePalActivity" />
        <activity
            android:name=".IntentServiceActivity"
            android:label="@string/intentservice_activity" />
        <activity
            android:name=".HandlerActivity"
            android:label="@string/handler_activity" />
        <activity
            android:name=".test.NewHandlerActivity"
            android:label="@string/NewHandlerActivity" />
        <activity
            android:name=".AsyncTaskActivity"
            android:label="@string/asyn_task" />

        <provider
            android:name=".test.ContentPro_der"
            android:authorities="cn.edu.scujcc.workthreeweek.test.contentprovider"
            android:exported="true" />
        <provider
            android:name=".test.MyContentProvider"
            android:authorities="cn.edu.scujcc.workthreeweek"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>